.h1 {
    color: white;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  
  @media (min-width: 550px) {
    .h1 {
        font-size: 5rem;
    }
}