.nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 4px 24px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 24px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 24px -1px rgba(0,0,0,0.75);
    width: 90%;
    margin-left: 5%;
  }
  
  .botonnav {
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .botonnav:hover {
    background-color: white;
    color: #ff7e5f;
  }
  